<div id="pricing" class="mb-4">
  <p>
    <span class="font-bold">Subtotal:&nbsp;</span>
    <span>$<%= pricing.subtotal %></span>
  </p>
  <p>
    <span class="font-bold">Tax:&nbsp;</span>
    <span>$<%= pricing.tax_amount %></span>
  </p>
  <p class="font-bold text-green-400">
    <span>Total:&nbsp;</span>
    <span>$<%= pricing.total %></span>
  </p>
</div>